.body{

    background: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.2)),
        url('../bg/dark5.jfif');
        background-size: cover;
}


.card{

    background: rgb(49, 44, 44);

}

.text{

    color: whitesmoke;
    text-align: justify;
    font-size: 30px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{

    color: whitesmoke;
    font-size: 3em;
    text-align: center;
}

.link{

    color: whitesmoke;
    font-style: italic;
    font-size: xx-large;
    font-weight: 700;
}
