body{

    background-color: #dae4ee;
}

.home{
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.2)),
        url('../bg/187161.jpg');
        background-size: cover;
}

.intro{

    color: whitesmoke;
    padding: 10% 20%;
    text-align: justify;
    font-size: 30px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.name{

    font-size: 5em;
}

.name2{

    font-size: 45px;
    font-weight: 100;
}

.name3{

    font-weight: 700;
}

